In [1]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_colwidth', 100)

# Import and Clean Data

In [8]:
sentiment = pd.read_csv('../../../data/team/NLTK Time Series/sentiment_nltk_fixed_final.csv')

In [11]:
sentiment.drop(columns='Unnamed: 0', inplace=True)

In [24]:
sentiment.dropna(inplace=True)

# Create Year-Week column

In [15]:
sentiment['Date'] = pd.to_datetime(sentiment['CreatedAt'].str[:10], errors='coerce')
sentiment['Year-Week'] = sentiment['Date'].dt.strftime('%Y-%U')

# Create Weekly mean of Sentiment Scores (neg, pos, compound)

In [31]:
weekly_mean_sentiment.columns

Index(['company', 'Year-Week', 'neg', 'neu', 'pos', 'compound'], dtype='object')

In [26]:
weekly_mean_sentiment = sentiment.groupby(['company', 'Year-Week']).mean()

In [29]:
weekly_mean_sentiment.reset_index(inplace=True)

In [38]:
weekly_mean_sentiment

          company Year-Week       neg       neu       pos  compound
0     first_solar   2011-00  0.000000  1.000000  0.000000  0.000000
1     first_solar   2011-01  0.027615  0.889641  0.082744  0.104806
2     first_solar   2011-02  0.032114  0.852101  0.115797  0.156867
3     first_solar   2011-03  0.015330  0.850500  0.134170  0.175914
4     first_solar   2011-04  0.051496  0.815302  0.133122  0.137794
...           ...       ...       ...       ...       ...       ...
3237       sunrun   2021-11  0.043411  0.824348  0.132272  0.168005
3238       sunrun   2021-12  0.031280  0.839616  0.129121  0.192402
3239       sunrun   2021-13  0.040452  0.796643  0.162910  0.241469
3240        tesla   2021-12  0.062887  0.780411  0.156704  0.195683
3241        tesla   2021-13  0.056224  0.789883  0.153891  0.204785

[3242 rows x 6 columns]

In [52]:
weekly_mean_sentiment.set_index('Year-Week', inplace=True)

In [53]:
weekly_mean_sentiment_compound = pd.DataFrame(weekly_mean_sentiment[['company','compound']])

In [54]:
weekly_mean_sentiment_compound

               company  compound
Year-Week
2011-00    first_solar  0.000000
2011-01    first_solar  0.104806
2011-02    first_solar  0.156867
2011-03    first_solar  0.175914
2011-04    first_solar  0.137794
...                ...       ...
2021-11         sunrun  0.168005
2021-12         sunrun  0.192402
2021-13         sunrun  0.241469
2021-12          tesla  0.195683
2021-13          tesla  0.204785

[3242 rows x 2 columns]

In [58]:
weekly_mean_compound_sentiment_by_company = weekly_mean_sentiment.pivot( columns='company', values='compound')

In [64]:
weekly_mean_compound_sentiment_by_company.drop('tesla',axis=1, inplace=True)

In [65]:
weekly_mean_compound_sentiment_by_company

company,first_solar,meridian_energy,plug_power,siemens_gamesa,sunpower,sunrun
Year-Week,,,,,,
2011-00,0.000000,NaN,0.000000,0.660500,0.049007,0.612400
2011-01,0.104806,0.086267,0.411500,0.368786,0.211583,0.258227
2011-02,0.156867,-0.036133,0.164608,0.394021,0.293154,0.158023
2011-03,0.175914,0.462410,0.075040,0.433196,0.183861,0.152878
2011-04,0.137794,-0.112420,-0.067788,0.427480,0.212294,0.210925
...,...,...,...,...,...,...
2021-09,0.249066,0.435112,0.195052,0.399296,0.260569,0.186855
2021-10,0.235841,0.265605,0.150427,0.423702,0.225257,0.185681
2021-11,0.210958,0.298878,0.116072,0.382301,0.163135,0.168005
2021-12,0.208364,0.467808,0.207972,0.412120,0.224861,0.192402
2021-13,0.211850,0.122104,0.192144,0.362340,0.285437,0.241469

In [66]:
weekly_mean_compound_sentiment_by_company.to_csv('./weekly_mean_compound_sentiment_by_company.csv')